
        <form  class="form-group flex-wrap p-3 " [formGroup]="register" (ngSubmit)="registerSubmit()">
          <div class="form-input col-lg-12 my-4">
            <label for="exampleInputEmail2"
              class="form-label fs-6 text-uppercase fw-bold text-black">Display Name</label>
            <input formControlName="displayNameRegister" type="text"  
              class="form-control ps-3" placeholder="Display Name">
              <div *ngIf="displayName.invalid && (displayName.dirty || displayName.touched)" class="error text-danger">
                <div *ngIf="displayName.errors?.['required']">Display Name is required.</div>
              </div>
              <div *ngIf="requiredField.length>0&&displayName.pristine&&!(displayName.dirty || displayName.touched)" class="error text-danger">
                <div>{{ requiredField }}</div>
              </div>
          </div>
          <div class="form-input col-lg-12 my-4">
            <label for="exampleInputEmail2"
              class="form-label fs-6 text-uppercase fw-bold text-black">Email
              Address</label>
            <input formControlName="emailRegister" type="text" placeholder="Email"
              class="form-control ps-3">
              <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error text-danger">
                <div *ngIf="email.errors?.['required']">Email is required.</div>
                <div *ngIf="email.errors?.['email']">Invalid email format.</div>
              </div>
              <div *ngIf="requiredField.length>0&&email.pristine&&!(email.dirty || email.touched)" class="error text-danger">
                <div>{{ requiredField }}</div>
              </div>
          </div>
          <div class="form-input col-lg-12 my-4">
            <label for="inputPassword2"
              class="form-label  fs-6 text-uppercase fw-bold text-black">Password</label>
            <input type="password" formControlName="passwordRegister" placeholder="Password"
              class="form-control ps-3" >
              <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error text-danger">
                <div *ngIf="password.errors?.['required']">Password is required.</div>
              </div>
              <div *ngIf="requiredField.length>0 && password.pristine&&!(password.dirty || password.touched)" class="error text-danger">
                <div>{{ requiredField }}</div>
              </div>
            </div>
            
          <label class=" col-lg-12">
            <input type="checkbox"(click)="tick()"  class="d-inline">
            <span class="label-body text-black">&nbsp; I agree to the <a href="#"
                class="text-black password border-bottom">Privacy
                Policy</a>
            </span>
          </label>
          <label class="error text-danger col-lg-12" *ngIf="this.error.length>0">{{ error }}</label>
          <div class="d-grid my-3">
            <button
              class="btn btn-primary btn-lg btn-dark text-uppercase btn-rounded-none fs-6">Sign
              Up</button>
          </div>
        </form>
    
