<form class="items" [formGroup]="newPasswordForm" (ngSubmit)="onSubmit()">
    <h2 class="card-title">Change Your Password</h2>
    <hr style="border: 1px solid red" />
    <input type="hidden" formControlName="token">
    <label class="form-label" for="password">Enter Your New Password </label>
    <div class="d-flex justify-content-between" style="margin-bottom: 10px">
      <input
      type="{{ showPassword ? 'text' : 'password' }}"
        class="form-control"
        id="password"
        formControlName="newpassword"
      
      />
      <button
        style="border: 0px solid white"
        type="button"
        (click)="toggleShowPassword()"
      >
        <fa-icon *ngIf="!showPassword" [icon]="faEye"></fa-icon>
        <fa-icon *ngIf="showPassword" [icon]="faEyeSlash"></fa-icon>
      </button>
    </div>
    <label for="verifyNewPassword" class="form-label">ConFirm Your New Password </label>
    <div class="d-flex justify-content-between">
      <input
        type="{{ showConfirmPassword ? 'text' : 'password' }}"
        formControlName="confirmPassword"
        name=""
        id="verifyNewPassword"
        class="form-control"
      />
      <button
        style="border: 0px solid white"
        type="button"
        (click)="toggleShowConfirmPassword()"
      >
        <fa-icon *ngIf="!showConfirmPassword" [icon]="faEye"></fa-icon>
        <fa-icon *ngIf="showConfirmPassword" [icon]="faEyeSlash"></fa-icon>
      </button>
    </div>
    <span style="color: red;" *ngIf="newPasswordForm.hasError('mismatch', 'confirmPassword')"
      >Password does not match</span
    >
    <hr style="border: 1px solid red" />
  
    <div class="d-flex justify-content-between">
      <div class="d-flex align-items-center">
        <a style="cursor: pointer"></a>
      </div>
      <div class="d-flex">
        <a href="#" class="btn btn-secondary" style="width: 5vw">Cancel</a>
        <button
          type="submit"
          class="btn btn-primary"
          style="width: 5vw; margin-left: 5px"
        >
          Continue
        </button>
      </div>
    </div>
  </form>
  <ngx-spinner
type="timer"
>
<p style="font-size: 20px; color: white">Redirect to...</p>
</ngx-spinner>
  