
<div class=" h-100" >
    <div class="mask d-flex align-items-center h-100">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12">
            <div class="card">
              <div class="card-body p-0">
                <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true" style="position: relative;">
                  <div class="form-input">
                    <label for="input">Nhập từ khóa:</label>
                    <input type="text" id="input" (input)="receiveKeyword($event)">
                  </div>
                  <table class="table table-striped mb-0">
                    <thead>
                      <tr style="background-color: #002d72!important;" class=" justify-content-around">
                        <th scope="col">Id</th>
                        <th scope="col">Service <a (click)="onSortServiceName()"> <fa-icon [icon]="faChevronDown" *ngIf="!this.selected"></fa-icon>  <fa-icon [icon]="faChevronUp" *ngIf="this.selected"></fa-icon></a></th>
                        <th scope="col">Expense</th>
                        <th scope="col">PrePaid</th>
                        <th scope="col">Collect</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr class="" *ngFor="let service of this.storedServices">
                            <td>{{ service.id }}</td>
                            <td>{{ service.serviceName }}</td>
                            <td>{{ service.price }}</td>
                            <td>{{ service.prePaid }}</td>
                            <td>{{ service.collect }}</td>
                        </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>





