/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.bg-image{
    background-image: url("https://pub-static.fotor.com/assets/bg/49048260-583c-4945-a120-1df8c88e28ed.jpg");
}
::-webkit-scrollbar {
    width: 5px; /* Set your desired scrollbar width */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #ccc; /* Set your desired thumb color */
  }

