<form [formGroup]="orderPaymentForm" (ngSubmit)="onSubmit()">
    <div>
      <label class="form-label" for="id">ID:</label>
      <input class="form-control" type="text" id="id" formControlName="id" readonly> </div>
  
    <div>
      <label class="form-label" for="orderId">Order ID:</label>
      <input class="form-control" type="text" id="orderId" formControlName="orderId">
    </div>
  
    <div>
      <label class="form-label" for="subtotal">Subtotal:</label>
      <input class="form-control" type="number" id="subtotal" formControlName="subtotal">
    </div>
  
    <div>
      <label class="form-label" for="prepaid">Prepaid:</label>
      <input class="form-control" type="number" id="prepaid" formControlName="prepaid">
    </div>
  
    <div>
      <label class="form-label" for="service_price">Service Price:</label>
      <input class="form-control" type="number" id="service_price" formControlName="service_price">
    </div>
  
    <div>
      <label class="form-label" for="distance_charges">Distance Charges:</label>
      <input class="form-control" type="number" id="distance_charges" formControlName="distance_charges">
    </div>
  
    <div>
      <label class="form-label" for="totalCharges">Total Charges:</label>
      <input class="form-control" type="number" id="totalCharges" formControlName="totalCharges" readonly>
    </div>
  
    <div>
      <label class="form-label" for="status">Status:</label>
      <select class="form-select" id="status" formControlName="status">
        <option value="done">Done</option>
        <option value="waiting">Waiting</option>
        <option value="cancel">Cancel</option>
        <option value="vpp">VPP</option>
      </select>
    </div>
  
    <button type="submit" [disabled]="orderPaymentForm.invalid">Submit</button>
  </form>