<div class="container">
    <div class="steps">
      <div class="step" [class.active]="currentStep === 1" [class.shine]="currentStep === 1">
        
      </div>
      <div class="step" [class.active]="currentStep === 2" [class.shine]="currentStep === 2">

      </div>
      <div class="step" [class.active]="currentStep === 3" [class.shine]="currentStep === 3"></div>


    </div>
    <div class="line">
        <div class="dot-move" [style.top.%]="(currentStep - 1) * 25"></div>
        <div class="dot zero" [class.fade]="currentStep !== 1">
            <span style="margin-left: 30px;">Service</span>
        </div>
        <div class="dot center" *ngIf="this.currentStep>=2" [class.fade]="currentStep !== 2"></div>
        <div class="dot full" *ngIf="this.currentStep>=3" [class.fade]="currentStep !== 3"></div>
        <div class="dot near-end" *ngIf="this.currentStep>=4" [class.fade]="currentStep !== 4"></div>
        <div class="dot end" *ngIf="this.currentStep>=5" [class.fade]="currentStep !== 5"></div>
      </div>
  </div>
  
  <button (click)="prevStep()">Previous</button>
  <button (click)="nextStep()">Next</button>
  