
<form [formGroup]="deliveryAgentForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label class="form-label" for="id">ID:</label>
      <input class="form-control" type="text" id="id" formControlName="id" readonly>
    </div>
  
    <div class="mb-3">
      <label class="form-label" for="name_of_agent">Name of Agent:</label>
      <input class="form-control" type="text" id="name_of_agent" formControlName="name_of_agent">
    </div>
  
    <div class="mb-3">
      <label class="form-label" for="vehicle_number">Vehicle Number:</label>
      <input class="form-control" type="text" id="vehicle_number" formControlName="vehicle_number">
    </div>
  
    <div class="mb-3">
      <label class="form-label" for="contact_number">Contact Number:</label>
      <input class="form-control" type="text" id="contact_number" formControlName="contact_number">
    </div>
    <button type="submit" [disabled]="deliveryAgentForm.invalid">Submit</button>
  </form>