<form [formGroup]="parcelsForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label class="form-label" for="id">ID:</label>
      <input class="form-control" type="text" id="id" formControlName="id" readonly>
    </div>
  
    <div class="mb-3">
      <label class="form-label" for="name">Name:</label>
      <input class="form-control" type="text" id="name" formControlName="name">
    </div>
  
    <div class="mb-3">
      <label class="form-label" for="weight">Weight:</label>
      <input class="form-control" type="number" id="weight" formControlName="weight">
    </div>
  
    <div class="mb-3">
      <label class="form-label" for="imageUrl">Image URL:</label>
      <input class="form-control" type="file" id="imageUrl" formControlName="imageUrl">
    </div>
  
    <div class="mb-3">
      <label class="form-label" for="customerId">Customer ID:</label>
      <input class="form-control" type="text" id="customerId" formControlName="customerId">
    </div>
  
    <button type="submit" [disabled]="parcelsForm.invalid">Submit</button>
  </form>
  