
<div class="container mt-4 custom">
  <form  class="form-control" [formGroup]="addressForm" (ngSubmit)="onSubmit()" >  
    <div class="form-floating mb-3" style="text-align: left;">
      <input type="text" class="form-control" formControlName="name1" placeholder="Enter sender name">
      <label>Sender Name:</label>
      <span style="color:red" *ngIf="addressForm.get('name1')?.errors?.['required']">Sender Name is required</span>
    </div>
    <div class="form-floating mb-3" style="text-align: left;">
      <input type="text" class="form-control" formControlName="address1" placeholder="Enter pick up location">
      <label>Where do you want your package picked up?</label>
      <span style="color:red" *ngIf="addressForm.get('address1')?.errors?.['required']">Pick up location is required</span>
    </div>  
    <div class="form-floating mb-3" style="text-align: left;">
      <input type="text" class="form-control" formControlName="phone1" placeholder="Enter sender phoneNumber">
      <label>Sender phone number</label>
      <span style="color:red" *ngIf="addressForm.get('phone1')?.errors?.['required']">Sender phone is required</span>
    </div>
    <div class="form-floating mb-3" >
      <select id="deliveryTypeId" (change)="getListDistrict($event)" class="form-control"   required>
          <option value="0" selected>Please choose an option</option>
          <option value="{{ country.id }}"  *ngFor="let country of this.storedCountries">{{ country.name }}</option>
        </select>
        <label for="deliveryTypeId">City/Province</label>
    </div>
    <div class="form-floating mb-3" >
      <select id="deliveryTypeId"  class="form-control" (change)="getListWard($event)"   required>
          <option value="0" selected>Please choose an option</option>
          <option value="{{ district.id }}"  *ngFor="let district of this.tempDistrict">{{ district.name }}</option>
        </select>
        <label for="deliveryTypeId">District</label>
    </div>
    <div class="form-floating mb-3" >
      <select id="deliveryTypeId" (change)="getChosenWard($event)"  class="form-control"   required>
          <option value="0" selected>Please choose an option</option>
          <option value="{{ ward.id }}"  *ngFor="let ward of this.tempWard">{{ ward.name }}</option>
        </select>
        <label for="deliveryTypeId">Ward</label>
    </div>
    <hr>
    <hr>
    <div class="form-floating mb-3" style="text-align: left;">
      <input type="text" class="form-control" formControlName="name2" placeholder="Enter recipient name">
      <label>Recipient Name:</label>
      <span style="color:red" *ngIf="addressForm.get('name2')?.errors?.['required']">Recipient name is required</span>
    </div>
    <div class="form-floating mb-3" style="text-align: left;">
      <input type="text" class="form-control" formControlName="address2" placeholder="Enter recieve location">
      <label>Where do you want recipient recieve the package?</label>
      <span style="color:red" *ngIf="addressForm.get('address2')?.errors?.['required']">Recieve location is required</span>
    </div>
    <div class="form-floating mb-3" style="text-align: left;">
      <input type="text" class="form-control" formControlName="phone2" placeholder="Enter recipient phoneNumber">
      <label>Recipient phone number</label>
      <span style="color:red" *ngIf="addressForm.get('phone2')?.errors?.['required']">Recipient phone is required</span>
    </div>
    <div class="form-floating mb-3" >
      <select id="deliveryTypeId" (change)="getListDistrict2($event)" class="form-control"   required>
          <option value="0" selected>Please choose an option</option>
          <option value="{{ country.id }}"  *ngFor="let country of this.storedCountries">{{ country.name }}</option>
        </select>
        <label for="deliveryTypeId">City/Province</label>
    </div>
    <div class="form-floating mb-3" >
      <select id="deliveryTypeId"  class="form-control" (change)="getListWard2($event)"   required>
          <option value="0" selected>Please choose an option</option>
          <option value="{{ district.id }}"  *ngFor="let district of this.tempDistrict2">{{ district.name }}</option>
        </select>
        <label for="deliveryTypeId">District</label>
    </div>
    <div class="form-floating mb-3" >
      <select id="deliveryTypeId" (change)="getChosenWard2($event)"  class="form-control"required>
          <option value="0" selected>Please choose an option</option>
          <option value="{{ ward.id }}"  *ngFor="let ward of this.tempWard2">{{ ward.name }}</option>
        </select>
        <label for="deliveryTypeId">Ward</label>
    </div>
    <div class=" mb-3" >
      <label for="deliveryTypeId">Delivery Service:</label>
      &nbsp;
      {{ this.chooseDelivery }}&nbsp;<a class="btn btn-outline-success" (click)="changeDelivery()">Change Delivery Agent</a>
        </div>
        <div class="mb-3">
          <div *ngIf="this.change==true" class="">
            <select id="deliveryAgentId" (change)="getAgentChanged($event)"   class="form-control">
              <option value="{{ agent.id }}"[disabled]="this.agent.id==3&&this.selectedCountry!=this.selectedCountry2"  *ngFor="let agent of this.storedExpress">{{ agent.agentName }}-Add {{ agent.charges }}$</option>
            </select>
          </div>
          
        
        </div>
    <button type="submit" [disabled]="this.addressForm.invalid" class="btn btn-primary" >Add this delivery address to order</button>
  
   
    </form>
</div>

  

 
    

