<form [formGroup]="calculateChargesForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label class="form-label" for="id">ID:</label>
      <input class="form-control" type="text" id="id" formControlName="id" readonly>
    </div>
  
    <div class="mb-3">
      <label class="form-label" for="basicPricePerKg">Basic Price Per Kg:</label>
      <input class="form-control" type="number" step="0.01" id="basicPricePerKg" formControlName="basicPricePerKg">
    </div>
  
    <div class="mb-3">
      <label for="year" class="form-label">Year:</label>
      <input type="number" id="year" class="form-control" formControlName="year">
    </div>
  
    <button type="submit" [disabled]="calculateChargesForm.invalid">Submit</button>
  </form>
  