<div class="container py-5" style="padding-top: 7rem!important;
">
<carousel>
    <slide>
      <img src="assets/images/banner/banner5.jpg" alt="first slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </slide>
    <slide>
      <img src="assets/images/banner/banner6.jpg" alt="second slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </slide>
    <slide>
      <img src="assets/images/banner/banner4.jpg" alt="third slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </slide>
</carousel>
<section class="article05 cid-u2GFCeHQnt" id="about-us-5-u2GFCeHQnt">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-12">
        <div class="card-wrapper">
          <div class="row">
            <div class="col-12 col-md-12 col-lg-5 image-wrapper">
              <img class="w-100 animate__animated animate__delay-1s animate__fadeIn" src="https://proxy.electricblaze.com/?u=https%3A%2F%2Fimages.unsplash.com%2Fphoto-1599689481208-8ef6c0cdc80c%3Fixid%3DM3w0Mzc5fDB8MXxzZWFyY2h8MTR8fHBvc3QlMjBvZmZpY2V8ZW58MHwwfHx8MTcwNjQ2OTczMnww%26ixlib%3Drb-4.0.3%26auto%3Dformat%26fit%3Dcrop%26w%3D1200%26q%3D80&amp;e=1706534658&amp;s=3DBynHRrEV6X7PLWc5KelXppS6goC2JfcQNsYp4HnSw">
            </div>
            <div class="col-12 col-lg col-md-12">
              <div class="text-wrapper align-left">
                <h1 class="mbr-section-title mbr-fonts-style mb-4 display-2 animate__animated animate__delay-1s animate__fadeIn">
                  <strong>Who We Are</strong>
                </h1>
                <p class="mbr-text mbr-fonts-style mb-3 display-7 animate__animated animate__delay-1s animate__fadeIn">At TARS Delivery Post Office, we're not just another post office. We're the adrenaline junkies of the delivery world, fueled by the need for speed and the thrill of the chase.</p>
                <p class="mbr-text mbr-fonts-style mb-3 display-7 animate__animated animate__delay-1s animate__fadeIn">Our team is made up of delivery daredevils who live for the rush of getting your packages to their destination in record time. We don't just deliver, we perform delivery stunts that will leave you breathless!</p>
                <p class="mbr-text mbr-fonts-style display-7 animate__animated animate__delay-1s animate__fadeIn">Join us on this wild ride and experience delivery like never before. Buckle up, because with TARS, there's no slowing down!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
<section class="article07 cid-u2GFCeIBoL" id="generic-text-7-u2GFCeIBoL">
  <div class="container">
    <div class="row justify-content-center">
      <div class="card col-md-12 col-lg-10">
        <div class="card-wrapper">
          <h3 class="card-title mbr-fonts-style mbr-white mt-3 mb-4 display-2 animate__animated animate__delay-1s animate__fadeIn">
            <strong>Our Services</strong>
          </h3>
          <div class="row card-box align-left">
            <div class="item features-without-image col-12 animate__animated animate__delay-1s animate__fadeIn">
              <div class="item-wrapper">
                <p class="mbr-text mbr-fonts-style display-7">
                At TARS, we offer a range of heart-pounding delivery services that will leave you on the edge of your seat. From the lightning-fast Fast Post to the adrenaline-pumping Courier service, we've got it all.
                </p>
              </div>
            </div>
            <div class="item features-without-image col-12 animate__animated animate__delay-1s animate__fadeIn">
              <div class="item-wrapper">
                <p class="mbr-text mbr-fonts-style display-7">
                  With our VPP (Very, Very Prompt) service, your packages will reach their destination at lightning speed, leaving you wondering if we've discovered a wormhole in the space-time continuum.
                </p>
              </div>
            </div>
            <div class="item features-without-image col-12 animate__animated animate__delay-1s animate__fadeIn">
              <div class="item-wrapper">
                <p class="mbr-text mbr-fonts-style display-7">
                  And if you're looking for a more leisurely journey, our Normal Post service will take your packages on a scenic route, giving them a chance to enjoy the sights and sounds of the postal world.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="people03 cid-u2GFCeILmR" id="team-1-u2GFCeILmR">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-12 content-head">
				<div class="mbr-section-head mb-5">
					<h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2 animate__animated animate__delay-1s animate__fadeIn">
						<strong>Meet Us</strong>
					</h4>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="item features-image col-12 col-md-6 col-lg-3 animate__animated animate__delay-1s animate__fadeIn">
				<div class="item-wrapper">
					<div class="item-img mb-3">
						<img src="https://proxy.electricblaze.com/?u=https%3A%2F%2Fimages.unsplash.com%2Fphoto-1615572359976-1fe39507ed7b%3Fauto%3Dformat%26fit%3Dcrop%26w%3D600%26h%3D600%26q%3D80&amp;e=1706534658&amp;s=qxqpq-FPQ79U-_xdKIXMnRuVUK3sQ685bWDyblfILSI">
					</div>
					<div class="item-content align-left">
						<h6 class="item-subtitle mbr-fonts-style display-5">
							<strong>Max</strong></h6>
						<p class="mbr-text mbr-fonts-style display-7">Chief Delivery Daredevil</p>
					</div>
				</div>
			</div>
			<div class="item features-image col-12 col-md-6 col-lg-3 animate__animated animate__delay-1s animate__fadeIn">
				<div class="item-wrapper">
					<div class="item-img mb-3">
						<img src="https://proxy.electricblaze.com/?u=https%3A%2F%2Fimages.unsplash.com%2Fphoto-1569078449082-d264d9e239c5%3Fauto%3Dformat%26fit%3Dcrop%26w%3D600%26h%3D600%26q%3D80&amp;e=1706534658&amp;s=Q7h65gs9_4prtJ6AtpD3EFYniA9rrmg7xIi8JWb33KQ">
					</div>
					<div class="item-content align-left">
						<h6 class="item-subtitle mbr-fonts-style display-5">
							<strong>Luna</strong></h6>
						<p class="mbr-text mbr-fonts-style display-7">Speedy Courier Specialist</p>
					</div>
				</div>
			</div>
			<div class="item features-image col-12 col-md-6 col-lg-3 animate__animated animate__delay-1s animate__fadeIn">
				<div class="item-wrapper">
					<div class="item-img mb-3">
						<img src="https://proxy.electricblaze.com/?u=https%3A%2F%2Fimages.unsplash.com%2Fphoto-1596421250711-9ec0ef9cbba3%3Fauto%3Dformat%26fit%3Dcrop%26w%3D600%26h%3D600%26q%3D80&amp;e=1706534658&amp;s=L8wc-3iD2pcKc_Lgk93eORzEPwhZv14XOHnpHrQ9XhY">
					</div>
					<div class="item-content align-left">
						<h6 class="item-subtitle mbr-fonts-style display-5">
							<strong>Ace</strong></h6>
						<p class="mbr-text mbr-fonts-style display-7">VPP Velocity Expert</p>
					</div>
				</div>
			</div>
      <div class="item features-image col-12 col-md-6 col-lg-3 animate__animated animate__delay-1s animate__fadeIn">
        <div class="item-wrapper">
          <div class="item-img mb-3">
            <img src="https://proxy.electricblaze.com/?u=https%3A%2F%2Fimages.unsplash.com%2Fphoto-1676385901160-a86dc9ccdfe1%3Fauto%3Dformat%26fit%3Dcrop%26w%3D600%26h%3D600%26q%3D80&amp;e=1706534658&amp;s=hsiKOT2Kdk4O1v6xuEbgARUWotxwZ-uE0Hh65zjl1ws">
          </div>
          <div class="item-content align-left">
            <h6 class="item-subtitle mbr-fonts-style display-5">
              <strong>Zara</strong>
            </h6>
            <p class="mbr-text mbr-fonts-style display-7">Fast Post Enthusiast</p>
          </div>
        </div>
      </div>
		</div>
	</div>
</section>
<section class="pricing1 cid-u2GFCeIovY" id="pricing-cards-1-u2GFCeIovY">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 content-head">
        <div class="mbr-section-head mb-5">
          <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2 animate__animated animate__delay-1s animate__fadeIn">
            <strong>Delivery Plans</strong>
          </h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="item features-without-image col-12 col-md-6 col-lg-3 item-mb animate__animated animate__delay-1s animate__fadeIn">
        <div class="item-wrapper">
          <div class="item-head">
            <h5 class="item-title mbr-fonts-style mb-0 display-5">
              <strong>Fast Post</strong>
            </h5>
            <h6 class="item-subtitle mbr-fonts-style mt-0 mb-0 display-7">
              <strong>$19.99</strong>/per delivery
            </h6>
          </div>
          <div class="item-content">
            <p class="mbr-text mbr-fonts-style display-7">Experience the thrill of lightning-fast deliveries with our Fast Post service. Get your packages delivered at warp speed!</p>
          </div>
          <div class="mbr-section-btn item-footer"><a href="" class="btn item-btn btn-primary display-7">Choose Plan</a></div>
        </div>
      </div>
      <div class="item features-without-image col-12 col-md-6 col-lg-3 item-mb animate__animated animate__delay-1s animate__fadeIn">
        <div class="item-wrapper">
          <div class="item-head">
            <h5 class="item-title mbr-fonts-style mb-0 display-5">
              <strong>Normal Post</strong>
            </h5>
            <h6 class="item-subtitle mbr-fonts-style mt-0 mb-0 display-7">
              <strong>$9.99</strong>/per delivery
            </h6>
          </div>
          <div class="item-content">
            <p class="mbr-text mbr-fonts-style display-7">For those who prefer a more leisurely journey, our Normal Post service takes your packages on a scenic route, delivering them at a relaxed pace.</p>
          </div>
          <div class="mbr-section-btn item-footer"><a href="" class="btn item-btn btn-primary display-7">Choose Plan</a></div>
        </div>
      </div>
      <div class="item features-without-image col-12 col-md-6 col-lg-3 item-mb animate__animated animate__delay-1s animate__fadeIn">
        <div class="item-wrapper">
          <div class="item-head">
            <h5 class="item-title mbr-fonts-style mb-0 display-5">
              <strong>VPP</strong>
            </h5>
            <h6 class="item-subtitle mbr-fonts-style mt-0 mb-0 display-7">
              <strong>$29.99</strong>/per delivery
            </h6>
          </div>
          <div class="item-content">
            <p class="mbr-text mbr-fonts-style display-7">For the ultimate in promptness, our VPP service ensures that your packages reach their destination at lightning speed.</p>
          </div>
          <div class="mbr-section-btn item-footer"><a href="" class="btn item-btn btn-primary display-7">Choose Plan</a></div>
        </div>
      </div>
      <div class="item features-without-image col-12 col-md-6 col-lg-3 item-mb animate__animated animate__delay-1s animate__fadeIn">
        <div class="item-wrapper">
          <div class="item-head">
            <h5 class="item-title mbr-fonts-style mb-0 display-5">
              <strong>Courrier</strong>
            </h5>
            <h6 class="item-subtitle mbr-fonts-style mt-0 mb-0 display-7">
              <strong>$39.99</strong>/per delivery
            </h6>
          </div>
          <div class="item-content">
            <p class="mbr-text mbr-fonts-style display-7">Experience the adrenaline-pumping thrill of our Courrier service, where speed and precision are our top priorities.</p>
          </div>
          <div class="mbr-section-btn item-footer"><a href="" class="btn item-btn btn-primary display-7">Choose Plan</a></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="list05 cid-u2GFCeIo0r" id="faq-3-u2GFCeIo0r">
  <div class="container">
      <div class="col-12 mb-5 content-head">
          <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2 animate__animated animate__delay-1s animate__fadeIn">
              <strong>FAQ</strong>
          </h3>   
      </div>
      <div class="row justify-content-center">
          <div class="col-12 col-lg-8">
              <div class="item features-without-image col-12 active animate__animated animate__delay-1s animate__fadeIn">
                  <div class="item-wrapper">
                      <h5 class="mbr-card-title mbr-fonts-style mt-0 mb-3 display-5">
                          <strong>How fast is Fast Post?</strong></h5>
                      <p class="mbr-text mbr-fonts-style mt-0 mb-3 display-7">
                          Our Fast Post service delivers packages at warp speed, ensuring lightning-fast delivery times.
                      </p>
                  </div>
              </div>
              <div class="item features-without-image col-12 animate__animated animate__delay-1s animate__fadeIn">
                  <div class="item-wrapper">
                      <h5 class="mbr-card-title mbr-fonts-style mt-0 mb-3 display-5">
                          <strong>What is VPP?</strong></h5>
                      <p class="mbr-text mbr-fonts-style mt-0 mb-3 display-7">
                          VPP stands for Very, Very Prompt, and it's our ultimate service for lightning-speed deliveries.
                      </p>
                  </div>
              </div>
              <div class="item features-without-image col-12 animate__animated animate__delay-1s animate__fadeIn">
                  <div class="item-wrapper">
                      <h5 class="mbr-card-title mbr-fonts-style mt-0 mb-3 display-5">
                          <strong>Is Courrier service available internationally?</strong></h5>
                      <p class="mbr-text mbr-fonts-style mt-0 mb-3 display-7">
                          Yes, our Courrier service is available for international deliveries, ensuring speedy and precise delivery worldwide.
                      </p>
                  </div>
              </div>
                <div class="item features-without-image col-12 animate__animated animate__delay-1s animate__fadeIn">
                  <div class="item-wrapper">
                      <h5 class="mbr-card-title mbr-fonts-style mt-0 mb-3 display-5">
                          <strong>Can I track my package with Normal Post?</strong></h5>
                      <p class="mbr-text mbr-fonts-style mt-0 mb-3 display-7">
                          Yes, you can track your package every step of the way with our Normal Post service, giving you peace of mind during its leisurely journey.
                      </p>
                  </div>
              </div>
                <div class="item features-without-image col-12 animate__animated animate__delay-1s animate__fadeIn">
                  <div class="item-wrapper">
                      <h5 class="mbr-card-title mbr-fonts-style mt-0 mb-3 display-5">
                          <strong>Do you offer same-day delivery?</strong></h5>
                      <p class="mbr-text mbr-fonts-style mt-0 mb-3 display-7">
                          Yes, we offer same-day delivery for select services, ensuring that your packages reach their destination in record time.
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="people04 cid-u2GFCeIrfB" id="testimonials-3-u2GFCeIrfB">
	<div class="container">
		<div class="row mb-5 justify-content-center">
			<div class="col-12 mb-0 content-head">
				<h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2 animate__animated animate__delay-1s animate__fadeIn">
					<strong>Raves</strong>
				</h3>	
			</div>
		</div>
		<div class="row mbr-masonry" data-masonry="{&quot;percentPosition&quot;: true }" style="position: relative; height: 816.094px;">
			<div class="item features-without-image col-12 col-md-6 col-lg-4 active animate__animated animate__delay-1s animate__fadeIn" style="position: absolute; left: 0%; top: 0px;">
				<div class="item-wrapper">
					<div class="card-box align-left">
						<p class="card-text mbr-fonts-style display-7">
							TARS Delivery Post Office is the adrenaline rush of the delivery world! Lightning-fast and thrilling deliveries every time.
						</p>
						<div class="img-wrapper mt-4 mb-3">
							<img src="https://proxy.electricblaze.com/?u=https%3A%2F%2Fimages.unsplash.com%2Fphoto-1497485692312-a26e1cc30f1d%3Fauto%3Dformat%26fit%3Dcrop%26w%3D600%26h%3D600%26q%3D80&amp;e=1706534658&amp;s=CHeh3D91MsTBJzJtcLeduB0s8GQPs_1QIMT85bhkZNk" data-slide-to="0" data-bs-slide-to="0">
						</div>
						<h5 class="card-title mbr-fonts-style display-7">
							<strong>Jake Speedster</strong>
						</h5>
					</div>
				</div>
			</div>
			<div class="item features-without-image col-12 col-md-6 col-lg-4 animate__animated animate__delay-1s animate__fadeIn" style="position: absolute; left: 33.3333%; top: 0px;">
				<div class="item-wrapper">
					<div class="card-box align-left">
						<p class="card-text mbr-fonts-style display-7">
							I never knew delivery could be this exciting! TARS Delivery Post Office has redefined the meaning of fast and furious.
						</p>
						<div class="img-wrapper mt-4 mb-3">
							<img src="https://proxy.electricblaze.com/?u=https%3A%2F%2Fimages.unsplash.com%2Fphoto-1567468219153-4b1dea5227ea%3Fauto%3Dformat%26fit%3Dcrop%26w%3D600%26h%3D600%26q%3D80&amp;e=1706534658&amp;s=5u8yx8cEdk5IrS3VLJ5ECM8Yh7gCC12GmYqEDGk06Zo" data-slide-to="1" data-bs-slide-to="1">
						</div>
						<h5 class="card-title mbr-fonts-style display-7">
							<strong>Samantha Swift</strong>
						</h5>
					</div>
				</div>
			</div>
			<div class="item features-without-image col-12 col-md-6 col-lg-4 animate__animated animate__delay-1s animate__fadeIn" style="position: absolute; left: 66.6667%; top: 0px;">
				<div class="item-wrapper">
					<div class="card-box align-left">
						<p class="card-text mbr-fonts-style display-7">
							TARS Delivery Post Office is the real deal when it comes to speed and precision. They've set a new standard for delivery services!
						</p>
						<div class="img-wrapper mt-4 mb-3">
							<img src="https://proxy.electricblaze.com/?u=https%3A%2F%2Fimages.unsplash.com%2Fphoto-1536548665027-b96d34a005ae%3Fauto%3Dformat%26fit%3Dcrop%26w%3D600%26h%3D600%26q%3D80&amp;e=1706534658&amp;s=fM7wjg_9_IQL_bTXfh2wID9kXOZsvGzDZ6gLRqlJvgM" data-slide-to="2" data-bs-slide-to="2">
						</div>
						<h5 class="card-title mbr-fonts-style display-7">
							<strong>Max Velocity</strong>
						</h5>
					</div>
				</div>
			</div>
			<div class="item features-without-image col-12 col-md-6 col-lg-4 animate__animated animate__delay-1s animate__fadeIn" style="position: absolute; left: 0%; top: 408.047px;">
				<div class="item-wrapper">
					<div class="card-box align-left">
						<p class="card-text mbr-fonts-style display-7">
							The adrenaline rush of TARS Delivery Post Office is unmatched! Lightning-fast deliveries that leave you breathless with excitement.
						</p>
						<div class="img-wrapper mt-4 mb-3">
							<img src="https://proxy.electricblaze.com/?u=https%3A%2F%2Fimages.unsplash.com%2Fphoto-1526835746352-0b9da4054862%3Fauto%3Dformat%26fit%3Dcrop%26w%3D600%26h%3D600%26q%3D80&amp;e=1706534658&amp;s=aeCweSMTMlysgvrJ2PpvTIEzKVrRQNDwj-uCu5_nKic" data-slide-to="3" data-bs-slide-to="3">
						</div>
						<h5 class="card-title mbr-fonts-style display-7">
							<strong>Luna Rapid</strong>
						</h5>
					</div>
				</div>
			</div>
			<div class="item features-without-image col-12 col-md-6 col-lg-4 animate__animated animate__delay-1s animate__fadeIn" style="position: absolute; left: 33.3333%; top: 408.047px;">
				<div class="item-wrapper">
					<div class="card-box align-left">
						<p class="card-text mbr-fonts-style display-7">
							Fast, furious, and absolutely thrilling! TARS Delivery Post Office delivers the ultimate rush with their lightning-speed services.
						</p>
						<div class="img-wrapper mt-4 mb-3">
							<img src="https://proxy.electricblaze.com/?u=https%3A%2F%2Fimages.unsplash.com%2Fphoto-1564564244660-5d73c057f2d2%3Fauto%3Dformat%26fit%3Dcrop%26w%3D600%26h%3D600%26q%3D80&amp;e=1706534658&amp;s=1pEh7LjfVYK-cuw7gW93s-rdnzk6eGQd9gW-aeVZRrk" data-slide-to="4" data-bs-slide-to="4">
						</div>
						<h5 class="card-title mbr-fonts-style display-7">
							<strong>Ace Velocity</strong>
						</h5>
					</div>
				</div>
			</div>
			<div class="item features-without-image col-12 col-md-6 col-lg-4 animate__animated animate__delay-1s animate__fadeIn" style="position: absolute; left: 66.6667%; top: 408.047px;">
				<div class="item-wrapper">
					<div class="card-box align-left">
						<p class="card-text mbr-fonts-style display-7">
							TARS Delivery Post Office is the epitome of speed and excitement. Their delivery stunts are jaw-dropping and heart-pounding!
						</p>
						<div class="img-wrapper mt-4 mb-3">
							<img src="https://proxy.electricblaze.com/?u=https%3A%2F%2Fimages.unsplash.com%2Fphoto-1608652763120-59aab1d8125c%3Fauto%3Dformat%26fit%3Dcrop%26w%3D600%26h%3D600%26q%3D80&amp;e=1706534658&amp;s=jUtxA5BNVMop1TPPfvMsEKUEvFq4_yH7Mku-tth55Js" data-slide-to="5" data-bs-slide-to="5">
						</div>
						<h5 class="card-title mbr-fonts-style display-7">
							<strong>Zara Swift</strong>
						</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="form5 cid-u2GFCeJJFK" id="contact-form-2-u2GFCeJJFK">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-12 content-head">
              <div class="mbr-section-head mb-5">
                  <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2 animate__animated animate__delay-1s animate__fadeIn">
                      <strong>Get in Touch</strong>
                  </h3>                    
              </div>
          </div>
      </div>
      <div class="row justify-content-center">
          <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
              <form action="https://mobirise.eu/" method="POST" class="mbr-form form-with-styler" data-form-title="Form Name"><input type="hidden" name="email" data-form-email="true" value="">
                  <div class="row">
                      <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Thanks for filling out the form!</div>
                      <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">
                          Oops...! some problem!
                      </div>
                  </div>
                  <div class="dragArea row">
                      <div class="col-md col-sm-12 form-group mb-3" data-for="name">
                          <input type="text" name="name" placeholder="Name" data-form-field="name" class="form-control" value="" id="name-form02-0">
                      </div>
                      <div class="col-md col-sm-12 form-group mb-3" data-for="email">
                          <input type="email" name="email" placeholder="Email" data-form-field="email" class="form-control" value="" id="email-form02-0">
                      </div>
                      <div class="col-12 form-group mb-3" data-for="textarea">
                          <textarea name="textarea" placeholder="Message" data-form-field="textarea" class="form-control" id="textarea-form02-0"></textarea>
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 align-center mbr-section-btn"><button type="submit" class="btn btn-primary display-7">Send</button></div>
                  </div>
              </form>
          </div>
      </div>
  </div>
</section>
<section class="contacts4 map1 cid-u2GFCeJeRc" id="contacts-3-u2GFCeJeRc">
	<div class="main_wrapper">
		<div class="b_wrapper">
			<div class="container-fluid">
				<div class="row justify-content-start">
					<div class="col-md-5 col-lg-4 item-wrapper">
            <h5 class="cardTitle mbr-fonts-style mb-2 display-5 animate__animated animate__delay-1s animate__fadeIn">
                <strong>Contact Us</strong>
            </h5>
            <ul class="list mbr-fonts-style display-7">
              <li class="mbr-text item-wrap animate__animated animate__delay-1s animate__fadeIn">Phone: <a href="tel:+1-800-DELIVERY" class="text-black animate__animated animate__delay-1s animate__fadeIn">+1-800-DELIVERY</a></li>
              <li class="mbr-text item-wrap animate__animated animate__delay-1s animate__fadeIn">WhatsApp: <a href="tel:+1-800-DELIVERY" class="text-black animate__animated animate__delay-1s animate__fadeIn">+1-800-DELIVERY</a></li>
              <li class="mbr-text item-wrap animate__animated animate__delay-1s animate__fadeIn">Email: <a href="mailto:info@tarsdelivery.com" class="text-black animate__animated animate__delay-1s animate__fadeIn">info@tarsdelivery.com</a></li>
              <li class="mbr-text item-wrap animate__animated animate__delay-1s animate__fadeIn">Address: Cầu Giấy Viet Nam</li>
              <li class="mbr-text item-wrap animate__animated animate__delay-1s animate__fadeIn">Working Hours: Mon - Fri: 9am - 6pm</li>
            </ul>
					</div>
				</div>
			</div>
		</div>
        <div class="google-map"><iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCt1265A4qvZy9HKUeA8J15AOC4SrCyZe4&amp;q=C%E1%BA%A7u%20Gi%E1%BA%A5y%20Viet%20Nam" allowfullscreen=""></iframe></div>
	</div>
</section>
<section class="footer4 cid-u2GFCeJC0C" once="footers" id="footer-4-u2GFCeJC0C">
  <div class="container">
      <div class="media-container-row align-center mbr-white">
          <div class="col-12">
              <p class="mbr-text mb-0 mbr-fonts-style display-7 animate__animated animate__delay-1s animate__fadeIn">
                  © 2024 TARS Delivery Post Office. All rights reserved.
              </p>
          </div>
      </div>
  </div>
</section>
</div>
<ngx-spinner type="timer"></ngx-spinner>