
    

    <div *ngIf="!isAdminRoute()&&!isUserRoute()&&!isEmployeeRoute()">
        <!-- Home Component with Top Nav Bar -->
        <app-nav-bar></app-nav-bar> 
       <router-outlet></router-outlet> 
        <notifier-container></notifier-container>
      </div>
      <div class="bg-image" *ngIf="isAdminRoute()">
        <!-- Home Component with Top Nav Bar -->
        <div class="page-wrapper bg-image" [ngClass]="{'toggled' : getSideBarState()}">
          <app-admin-sidebar></app-admin-sidebar>
          <main class="page-content bg-image">
              <div class="container-fluid">
                  
                      <router-outlet></router-outlet>
                  
                 
              </div>
              <!-- <div class="overlay" (click)="toggleSidebar()" [ngClass]="{'show' : !getSideBarState()}"></div> -->
          </main>
        
         
        </div>
        <notifier-container></notifier-container>
      </div>
      <div  *ngIf="isUserRoute()" #otherRoute>
        <!-- Other Component with Sidebar -->
        <div class="page-wrapper bg-image" [ngClass]="{'toggled' : getSideBarState()}">
            <app-sidebar></app-sidebar>
            <main class="page-content bg-image">
                <div class="container-fluid">
                    
                        <router-outlet></router-outlet>
                    
                   
                </div>
                <!-- <div class="overlay" (click)="toggleSidebar()" [ngClass]="{'show' : !getSideBarState()}"></div> -->
            </main>
          
           
          </div>
          <notifier-container></notifier-container>
      </div>
      <div class="bg-image" *ngIf="isEmployeeRoute()">
        <!-- Other Component with Sidebar -->
        <div class="page-wrapper bg-image" [ngClass]="{'toggled' : getSideBarState()}">
            <app-employee-sidebar></app-employee-sidebar>
            <main class="page-content bg-image">
                <div class="container-fluid">
                    
                        <router-outlet></router-outlet>
                    
                   
                </div>
                <!-- <div class="overlay" (click)="toggleSidebar()" [ngClass]="{'show' : !getSideBarState()}"></div> -->
            </main>
          
           
          </div>
          <notifier-container></notifier-container>
      </div>

      
      
 



