
<div class=" h-100" >
    <div class="mask d-flex align-items-center h-100">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12">
            <div class="card">
              <div class="card-body p-0">
                <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true" style="position: relative; ">
                  <div class="d-flex flex-row">
                    <div class="form-input" style="margin-right: 20px;">
                      <label for="input">Nhập từ khóa:</label>
                      <input #search type="text" id="input" (input)="receiveKeyword($event)">
                    </div>
                    <div class="form-input" style="margin-right: 20px;">
                      <label for="input">Start Working Time:</label>
                      <select name="" id="" (change)="getStartAtChoose($event)">
                        <option value="-1">ALL</option>
                        <option value="06:00:00" >06:00:00</option>
                        <option value="07:00:00" >07:00:00</option>
                        <option value="0" >All Time</option>
                      </select>
                    </div>
                    <div class="form-input" style="margin-right: 20px;">
                      <label for="input">End Working Time:</label>
                      <select name="" id="" (change)="getEndAtChoose($event)">
                        <option value="-1">ALL</option>
                        <option value="19:00:00" >19:00:00</option>
                        <option value="20:00:00" >20:00:00</option>
                        <option value="0" >All Time</option>
                      </select>
                    </div>
                    <div class="form-input"style="margin-right: 20px;">
                      
                     <a class="btn btn-primary text-white" (click)="searchButton()">Search</a>
                     
                    </div>
                    <div class="form-input"style="margin-right: 20px;">
                      
                     <a class="btn btn-success text-white" (click)="refreshButton()">Refresh</a>
                     
                    </div>
                   </div>
                  <table class="table table-striped mb-0">
                    <thead style="background-color: #002d72!important;">
                      <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Agent Name <a (click)="onSortAgentName()"> <fa-icon [icon]="faChevronDown" *ngIf="!this.selected"></fa-icon>  <fa-icon [icon]="faChevronUp" *ngIf="this.selected"></fa-icon></a></th>
                        <th scope="col">Contact <a (click)="onSortAgentContact()"> <fa-icon [icon]="faChevronDown" *ngIf="!this.selected2"></fa-icon>  <fa-icon [icon]="faChevronUp" *ngIf="this.selected2"></fa-icon></a></th>
                        <th scope="col">Vehicle Number <a (click)="onSortVehicle()"> <fa-icon [icon]="faChevronDown" *ngIf="!this.selected3"></fa-icon>  <fa-icon [icon]="faChevronUp" *ngIf="this.selected3"></fa-icon></a></th>
                        <th scope="col">Start time <a (click)="onSortStartAt()"> <fa-icon [icon]="faChevronDown" *ngIf="!this.selected4"></fa-icon>  <fa-icon [icon]="faChevronUp" *ngIf="this.selected4"></fa-icon></a></th>
                        <th scope="col">End time <a (click)="onSortEndAt()"> <fa-icon [icon]="faChevronDown" *ngIf="!this.selected5"></fa-icon>  <fa-icon [icon]="faChevronUp" *ngIf="this.selected5"></fa-icon></a></th>

                      </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let express of this.storedExpress">
                          <td>{{ express.id }}</td>
                          <td>{{ express.agentName }}</td>
                          <td>{{ express.agentContactNumber }}</td>
                          <td>{{ express.vehicleNumber }}</td>
                          <td>{{ express.startWorkingTime?.valueOf()?.length==0?"All time":express.startWorkingTime }}</td>
                          <td>{{ express.endWorkingTime?.valueOf()?.length==0?"All time":express.endWorkingTime }}</td>
                        </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>






