
<div class="bg-image h-100" style="background-color: white;">
    <div class="mask d-flex align-items-center h-100">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12">
            <div class="card">
              <div class="card-body p-0">
                <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true" style="position: relative; ">
                  <table class="table table-striped mb-0">
                    <thead style="background-color: #002d72!important;">
                      <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Agent Name</th>
                        <th scope="col">Contact</th>
                        <th scope="col">Vehicle Number</th>
                        <th scope="col">Start time</th>
                        <th scope="col">End time</th>

                      </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let express of this.storedExpress">
                          <td>{{ express.id }}</td>
                          <td>{{ express.agentName }}</td>
                          <td>{{ express.agentContactNumber }}</td>
                          <td>{{ express.vehicleNumber }}</td>
                          <td>{{ express.startWorkingTime?.valueOf()?.length==0?"All time":express.startWorkingTime }}</td>
                          <td>{{ express.endWorkingTime?.valueOf()?.length==0?"All time":express.endWorkingTime }}</td>
                        </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>






