<ngx-spinner
type="timer"
>
<p style="font-size: 20px; color: white">Redirect to...</p>
</ngx-spinner>
<div class="tabs-listing">
    <div class="tab-content" id="nav-tabContent">
      <div
        class="tab-pane fade active show"
        id="nav-sign-in"
        role="tabpanel"
        aria-labelledby="nav-sign-in-tab"
      >
        <form
          [formGroup]="changePasswordForm"
          id="form1"
          class="form-group flex-wrap p-3"
          (ngSubmit)="onSubmit()"
        >
          <div class="form-input col-lg-12 my-4">
            <input
              type="hidden"
              id="exampleInputEmail2"
              name="email"
              placeholder="Email"
              formControlName="email"
              class="form-control ps-3"
            />
            <label
              for="exampleInputOldPassword"
              class="form-label fs-6 text-uppercase fw-bold text-black"
              >Enter Old Password</label
            >
            <div class="d-flex justify-content-between">
              <input
                type="{{ showOldPassword ? 'text' : 'password' }}"
                id="exampleInputOldPassword"
                name="oldPassword"
                placeholder="Old Password"
                class="form-control ps-3"
                formControlName="oldPassword"
              />
              <button
                style="
                  border: 0px solid white;
                  background-color: transparent;
                  width: 40px;
                "
                type="button"
                (click)="toggleShowOldPassword()"
              >
                <fa-icon *ngIf="!showOldPassword" [icon]="faEye"></fa-icon>
                <fa-icon *ngIf="showOldPassword" [icon]="faEyeSlash"></fa-icon>
              </button>
            </div>
          </div>
          <div  *ngIf="changePasswordForm.get('oldPassword')?.errors?.['required']" class="form-input col-lg-12 my-4">
            <span style="color:red" *ngIf="changePasswordForm.get('oldPassword')?.errors?.['required']">Old Password is required</span>
           
          </div>
         
          <div class="form-input col-lg-12 my-4">
            <label
              for="inputPassword"
              class="form-label fs-6 text-uppercase fw-bold text-black"
              >Enter New Password</label
            >
            <div class="d-flex justify-content-between">
              <input
                type="{{ showPassword ? 'text' : 'password' }}"
                id="inputPassword"
                placeholder="New Password"
                class="form-control ps-3"
                aria-describedby="passwordHelpBlock"
                formControlName="newPassword"
              />
              <button
                style="
                  border: 0px solid white;
                  background-color: transparent;
                  width: 40px;
                "
                type="button"
                (click)="toggleShowPassword()"
                  >
                <fa-icon *ngIf="!showPassword" [icon]="faEye"></fa-icon>
                <fa-icon *ngIf="showPassword" [icon]="faEyeSlash"></fa-icon>
              </button>
             
            </div>
           
          </div>
          <div *ngIf="changePasswordForm.get('newPassword')?.errors?.['required'] || changePasswordForm.get('newPassword')?.errors?.['minlength']" class="form-input col-lg-12 my-4">
            <span style="color:red" *ngIf="changePasswordForm.get('newPassword')?.errors?.['required']">New Password is required</span>
            <span style="color:red" *ngIf="changePasswordForm.get('newPassword')?.errors?.['minlength']">New Password must be at least 8 characters</span> 
          </div>
          <div class="form-input col-lg-12 my-4">
            <label
              for="inputPassword1"
              class="form-label fs-6 text-uppercase fw-bold text-black"
              >Confirm New Password</label
            >
            <div class="d-flex justify-content-between">
              <input
                type="{{ showConfirmPassword ? 'text' : 'password' }}"
                id="inputPassword1"
                placeholder="Confirm New Password"
                class="form-control ps-3"
                aria-describedby="passwordHelpBlock"
                formControlName="confirmPassword"
              />
              <button
                style="
                  border: 0px solid white;
                  background-color: transparent;
                  width: 40px;
                "
                type="button"
                (click)="toggleShowConfirmPassword()"
              >
                <fa-icon *ngIf="!showConfirmPassword" [icon]="faEye"></fa-icon>
                <fa-icon
                  *ngIf="showConfirmPassword"
                  [icon]="faEyeSlash"
                ></fa-icon>
              </button>
            </div>
          </div>
          <div class="form-input col-lg-12 my-4">
            <span style="color:red" *ngIf="changePasswordForm.hasError('required','confirmPassword')">Confirm Password is required</span>
            <span
              style="color: red"
              *ngIf="changePasswordForm.hasError('mismatch', 'confirmPassword')"
              >Password does not match</span
            >
           
          </div>
  
          <div class="d-grid my-3">
            <button
              type="submit"
              [disabled]="changePasswordForm.invalid"
              class="btn btn-primary btn-lg btn-dark text-uppercase btn-rounded-none fs-6"
            >
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  