.cid-u2GFCeIovY {
    padding-top: 5rem;
    padding-bottom: 4rem;
    background-color: transparent;
  }

  .cid-u2GFCeIovY .item-mb {
    margin-bottom: 2rem;
  }

  @media (max-width: 767px) {
    .cid-u2GFCeIovY .item-mb {
      margin-bottom: 1rem;
    }
  }

  .cid-u2GFCeIovY .item-head {
    background: var(--primary-color, #9fe870);
    padding: 2.25rem;
  }

  @media (min-width: 992px) and (max-width: 1200px) {
    .cid-u2GFCeIovY .item-head {
      padding: 2rem 1.5rem;
      margin-bottom: 2rem;
    }
  }

  @media (max-width: 767px) {
    .cid-u2GFCeIovY .item-head {
      padding: 2rem 1.5rem;
      margin-bottom: 2rem;
    }
  }

  .cid-u2GFCeIovY .item-content {
    padding: 2.25rem 2.25rem 0;
    background: #ffffff;
  }

  @media (min-width: 992px) and (max-width: 1200px) {
    .cid-u2GFCeIovY .item-content {
      padding: 0rem 1.5rem;
    }
  }

  @media (max-width: 767px) {
    .cid-u2GFCeIovY .item-content {
      padding: 0rem 1.5rem;
    }
  }

  .cid-u2GFCeIovY .item-wrapper {
    border-radius: 2rem;
    overflow: hidden;
    margin-bottom: 2rem;
    background: #ffffff;
    padding: 0rem;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
  }

  @media (max-width: 767px) {
    .cid-u2GFCeIovY .item-wrapper {
      margin-bottom: 1rem;
    }
  }

  @media (min-width: 992px) and (max-width: 1200px) {
    .cid-u2GFCeIovY .item-wrapper .item-footer {
      padding: 0 1.5rem 2rem;
    }
  }

  @media (min-width: 1201px) {
    .cid-u2GFCeIovY .item-wrapper .item-footer {
      padding: 0 2rem 2rem;
    }
  }

  .cid-u2GFCeIovY .btn {
    width: -webkit-fill-available;
  }

  .cid-u2GFCeIovY .item:focus,
  .cid-u2GFCeIovY span:focus {
    outline: none;
  }

  .cid-u2GFCeIovY .mbr-section-btn {
    margin-top: auto !important;
    padding: 2rem 2rem 0;
  }

  @media (max-width: 991px) {
    .cid-u2GFCeIovY .mbr-section-btn {
      padding: 0rem 2.25rem 2rem;
    }
  }

  @media (max-width: 767px) {
    .cid-u2GFCeIovY .mbr-section-btn {
      padding: 0rem 1.5rem;
      margin-bottom: 2rem;
    }
  }

  .cid-u2GFCeIovY .mbr-section-title {
    color: #000000;
  }

  .cid-u2GFCeIovY .mbr-section-subtitle {
    color: #ffffff;
  }

  .cid-u2GFCeIovY .mbr-text,
  .cid-u2GFCeIovY .mbr-section-btn {
    text-align: left;
  }

  .cid-u2GFCeIovY .item-title {
    text-align: left;
    color: var(--primary-text, #ffffff);
  }

  .cid-u2GFCeIovY .item-subtitle {
    text-align: left;
    color: var(--primary-text, #ffffff);
  }

  .cid-u2GFCeIovY .content-head {
    max-width: 800px;
  }