<div class="container d-flex flex-column  mt-4 justify-content-lg-center">
  <div class="row justify-content-center"><div class="col-lg-6"><h4>YOUR NEW ORDER</h4></div></div>
  <div class="row justify-content-center">
    <div class="col-lg-6 ">
      <form [formGroup]="ordersForm" class="form-control mt-4" (ngSubmit)="onSubmit()">

        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="customerId" value="{{ this.service.customer.id }}" disabled>
          <label for="customerId">Customer ID:</label>
        </div>
      
        <div class="form-floating mb-3">
          <textarea id="contactAddress" class="form-control" formControlName="contactAddress" required></textarea>
          <label for="contactAddress">Contact Address:(recipientName-address-phoneNumber)</label>
          <div class="text-danger error" *ngIf="this.error.length>0">{{ error }}</div>
        </div>
      
        <div class="form-floating mb-3" *ngIf="this.service.services.length>0">
          <select id="deliveryTypeId" class="form-control" (change)="getPrepaidLimit($event)"  required>
              <option value="0" selected>Please choose a service</option>
              <option *ngFor="let service of this.service.services"  value="{{ service.id }}">{{ service.serviceName.toUpperCase() }}</option>
            </select>
            <label for="deliveryTypeId">Delivery Type:</label>
            <div class="text-danger error" *ngIf="this.selectedError.length>0">{{ selectedError }}</div>
        </div>
        <div class="form-floating mb-3" *ngIf="this.service.services.length==0">
          <select id="deliveryTypeId" class="form-control"  required>
            <option value="default">No service</option>
            </select>
            <label for="deliveryTypeId">Delivery Type:</label>
        </div>
      
        
          <div *ngIf="!this.disable" class="form-floating mb-3">
            <input type="number" class="form-control" (change)="updatePrePaid()" #paid id="prePaid"  >
            <label for="prePaid">Pre-Paid:</label>
          </div>
          <div *ngIf="this.disable" class="form-floating mb-3">
            <input type="number"  class="form-control" id="prePaid" value="0"  disabled>
            <label for="prePaid">Pre-Paid:</label>
        </div>
      <div class="d-flex flex-row justify-content-center">
        <button type="submit" class="btn btn-outline-primary " >Submit</button>
      </div>
        
      </form>
    </div>
  </div>
  
  
</div>

  