<form [formGroup]="deliveryStatusForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label class="form-label" for="id">ID:</label>
      <input class="form-control" type="text" id="id" formControlName="id" readonly>
    </div>
  
    <div class="mb-3">
      <label class="form-label" for="statusName">Status Name:</label>
      <input class="form-control" type="text" id="statusName" formControlName="statusName">
    </div>
  
    <button type="submit" [disabled]="deliveryStatusForm.invalid">Submit</button>
  </form>
