
<div class="container">
    <h3><strong>EDIT LOCATION</strong></h3>
    <form class="form-control">
        <div class="form-group mb-3">
          <label for="select1">City/Province:</label>
          <select class="form-control" (change)="getListDistrict($event)" id="select1" name="select1">
            <option value="-1">Choose place</option>
            <option value="{{ place.id }}" *ngFor="let place of this.storedCountries">{{ place.name }}</option>
          </select>
        </div>
    
        <div class="form-group mb-3">
          <label for="select2">District:</label>
          <select class="form-control" (change)="getListWard($event)" id="select2" name="select2">
            <option value="-1">Choose district</option>
            <option value="{{ district.id }}" *ngFor="let district of this.tempDistrict">{{ district.name }}</option>
          </select>
        </div>
    
        <div class="form-group mb-3">
            <label for="select2">Ward:</label>
            <select class="form-control" (change)="getChosenWard($event)"  id="select2" name="select2">
              <option value="-1">Choose ward</option>
              <option value="{{ ward.id }}" *ngFor="let ward of this.tempWard">{{ ward.name }}</option>
            </select>
          </div>
        
        <button type="button" class="btn btn-primary" (click)="updateLocation()">Finish</button>
      </form>
</div>
