
    <div class="container1">
        
<div class="container bootstrap snippets bootdey">
<div class="row">
  <div class="profile-nav col-md-3">
      <div class="panel">
          <div class="user-heading round">
              <a href="#">
                  <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="">
              </a>
              <h1>Camila Smith</h1>
              <p></p>
          </div>

          <ul class="nav nav-pills nav-stacked d-flex flex-column">
              <li class="active"><a href="#"> <i class="fa fa-user"></i> Profile</a></li>
              <li><a href="#"> <i class="fa fa-calendar"></i> Recent Activity <div class="text-white label label-warning pull-right r-activity">9</div></a></li>
              <li><a href="#"> <i class="fa fa-edit"></i> Edit profile</a></li>
              <li>
                <a  (click)="openModal(template_2)"> <i class="fa fa-edit"></i> Change Password</a>
                <ng-template #template_2>
          
                    <div class="modal-content">
                        <div class="modal-header">
                                <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
                                <span aria-hidden="true" class="visually-hidden">&times;</span>
                                </button>
                        </div>
                        <div class="modal-body">
                                   
                            <app-change-password ></app-change-password>
                        </div>
                    </div>
                  </ng-template>
              </li>
          </ul>
      </div>
  </div>
  <div class="profile-info col-md-9">
    <h1 class="">Your Activities</h1>
    <hr style="border: 1px solid red ;">
    <div class="d-flex justify-content-between flex-wrap">
        <div style="width: 400px;height: 300px; background-color: rgb(225, 175, 117); margin-bottom: 20px;border-radius: 10px;">
            <h2>office history</h2>
        </div>
        <div style="width: 400px;height: 300px; background-color: rgb(110, 110, 227);margin-bottom: 20px;border-radius: 10px;">
        <h2>Recipient history</h2>
        </div>
        <div style="width: 400px;height: 300px; background-color: rgb(127, 215, 127);margin-bottom: 20px;border-radius: 10px;">
        <h2>Order Status</h2></div>
        <div style="width: 400px;height: 300px; background-color: rgb(221, 221, 131);margin-bottom: 20px;border-radius: 10px;">
        <h2>Billing Management</h2>
        </div>
    </div>
  </div>
</div>
</div>
    </div>


