
        <div class=" h-100" >
            <div class="mask d-flex align-items-center h-100">
              <div class="container">
                <div class="row justify-content-center">
                  <div class="col-12">
                    <div class="card">
                      <div class="card-body p-0">
                        <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true" style="position: relative; ">
                          <table class="table table-striped mb-0">
                            <thead style="background-color: #002d72!important;">
                              <tr>
                                <th scope="col">Id</th>
                                <th scope="col">DisplayName</th>
                                <th scope="col">UserEmail</th>
                                <th scope="col">Role</th>
                                <th scope="col">Status</th>
                              </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of this.storedUsers">
                                    <td>{{ user.id.substring(0,3) }}xxxx</td>
                                    <td>{{ user.displayName }}</td>
                                    <td>{{ user.email }}</td>
                                    <td ><span *ngIf="this.user.roleName.startsWith(admin);" class="badge bg-success">{{ user.roleName }}</span>
                                        <span *ngIf="!this.user.roleName.startsWith(admin);" class="badge bg-primary">{{ user.roleName }}</span></td>
                                    <td>Active</td>
                                </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
  
    
  
  
