<form [formGroup]="orderPaymentStatusForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label class="form-label" for="id">ID:</label>
      <input class="form-control" type="text" id="id" formControlName="id" readonly>
    </div>
  
    <div class="mb-3">
      <label class="form-label" for="statusname">Status Name:</label>
      <input class="form-control" type="text" id="statusname" formControlName="statusname">
    </div>
  
    <button type="submit" [disabled]="orderPaymentStatusForm.invalid">Submit</button>
  </form>
