<form [formGroup]="orderDetailForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label class="form-label" for="id">ID:</label>
      <input class="form-control" type="text" id="id" formControlName="id" readonly>
    </div>
  
    <div class="mb-3">
      <label class="form-label" for="orderId">Order ID:</label>
      <input class="form-control" type="text" id="orderId" formControlName="orderId">
    </div>
  
    <div class="mb-3">
      <label class="form-label" for="parcelId">Parcel ID:</label>
      <input class="form-control" type="text" id="parcelId" formControlName="parcelId">
    </div>
    <button type="submit" [disabled]="orderDetailForm.invalid">Submit</button>
  </form>