<!-- <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom"> -->
  <div id="navigation-bar" class="navigation position-fixed">
    <nav id="navbar-example2" class="navbar navbar-expand-lg">
      <div
        class="navigation container-fluid d-flex flex-wrap align-items-center my-2 pe-4 ps-5"
      >
        <div class="col-md-3 brand-logo">
          <a
            href="index.html"
            class="d-inline-flex link-body-emphasis text-decoration-none"
          >
            <img src="./assets/images/logo/Deliver.png" alt="" />
          </a>
        </div>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasNavbar2"
          aria-controls="offcanvasNavbar2"
          aria-label="Toggle navigation"
        >
          <ion-icon name="menu-outline"></ion-icon>
        </button>

        <div
          class="offcanvas offcanvas-end"
          tabindex="-1"
          id="offcanvasNavbar2"
          aria-labelledby="offcanvasNavbar2Label"
        >
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbar2Label">Menu</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="offcanvas"
              aria-label="Close"
            ></button>
          </div>

          <div class="offcanvas-body">
            <ul class="navbar-nav align-items-center flex-grow-1">
              <li class="nav-list mx-3">
                <a href="" class="nav-link px-2">
                  <h5>Home</h5>
                </a>
              </li>
              <li class="nav-list mx-3">
                <a href="#resources" class="nav-link px-2">
                  <h5>About</h5>
                </a>
              </li>
              <li class="nav-list mx-3">
                <a href="#services" class="nav-link px-2">
                  <h5>Services</h5>
                </a>
              </li>
              <li class="nav-list mx-3">
                <a href="#articles" class="nav-link px-2">
                  <h5>Blog</h5>
                </a>
              </li>
              <li class="nav-list mx-3">
                <a href="#contact" class="nav-link px-2">
                  <h5>Contact</h5>
                </a>
              </li>
              <li class="nav-list mx-3 dropdown text-center">
                <a
                  class="nav-link px-2 dropdown-toggle"
                  data-toggle="dropdown"
                  href="#"
                  role="button"
                  aria-expanded="false"
                >
                  <h5>
                    Pages
                    <iconify-icon
                      icon="ic:outline-arrow-drop-down"
                    ></iconify-icon>
                  </h5>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a routerLink="/user" class="dropdown-item text-uppercase"
                      >User</a
                    >
                  </li>
                  <li>
                    <a routerLink="/user/order/new" class="dropdown-item text-uppercase"
                      >Make new Order</a
                    >
                  </li>
                  <li>
                    <a
                      routerLink="/user/order/cart/{{ this.service.customer.id }}"
                      class="dropdown-item text-uppercase"
                      >Cart
                      </a
                    >
                  </li>
                  
                </ul>
              </li>
              
            </ul>
            
            <app-modal></app-modal>
            
          </div>
        </div>
      </div>
    </nav>
  </div>
<!-- </div> -->
